.App {
  width: 1366px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.initial_page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e5e5e5;
}

.initial_page img {
  width: 64px;
}

.initial_page h1 {
  width: 210px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  color: #808080;
}

.error_page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e5e5e5;
}

.error_page img {
  width: 65px;
}

.error_page h1 {
  width: 210px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  color: #808080;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #0064eb;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  position: relative;
  top: 300px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(350deg);
  }
}
