.repository {
  width: 813px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffffff;
  margin-bottom: 24px;
  border-radius: 6px;
  padding: 24px 32px;
}

.repository_name {
  margin-bottom: 16px;
}

.repository_name a {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #0064eb;
  text-decoration: none;
}

.repository_info {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
