.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: #e5e5e5;
}

@media (max-width: 760px) {
  .main {
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
