.repositories_list {
  position: relative;
  width: 877px;
  height: 100vh;
}

.header {
  font-size: 32px;
  font-weight: 600;
}

.pagination {
  position: absolute;
  bottom: 160px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.pagination ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
}

.repos_page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.repos_page img {
  width: 76px;
}

.repos_page h1 {
  width: 210px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  color: #808080;
}

.error_page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e5e5e5;
}

.error_page img {
  width: 65px;
}

.error_page h1 {
  width: 210px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  color: #808080;
}

.pagination_wrapper {
  width: 210px;
  height: 25px;
}

.previous a {
  border: solid #808080;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  cursor: pointer;
  outline: none;
  transition: all 0.25s;
}

.next a {
  border: solid #808080;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  cursor: pointer;
  outline: none;
  transition: all 0.25s;
}

.previous:hover {
  border-color: #0064eb;
}

.next:hover {
  border-color: #0064eb;
}

.active {
  width: 21px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0064eb;
  border-radius: 3px;
  user-select: none;
  cursor: none;
  transition: all 0.25s;
}

.active_link {
  color: #ffffff;
}

.pagination_page {
  width: 21px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  color: #808080;
}

.pagination_page a {
  outline: none;
}

@media (max-width: 1366px) {
  .repositories_list {
    width: 450px;
    margin-right: 10px;
  }
  .pagination {
    bottom: auto;
  }
}

@media (max-width: 835px) {
  .repositories_list {
    width: 300px;
  }
}

@media (max-width: 760px) {
  .repositories_list {
    width: 500px;
    margin-top: 40px;
  }

  .header {
    font-size: 1.5em;
  }

  .pagination {
    left: 0;
    right: auto;
  }
}

@media (max-width: 530px) {
  .repositories_list {
    width: 300px;
    margin-top: 20px;
    height: auto;
  }

  .pagination_wrapper {
    width: 140px;
    padding-left: 20px;
  }
}
